!.env.example
._*
.classpath
.DS_Store
.DS_Store?
.env
.env.*.local
.env.local
.project
.settings/
.Spotlight-V100
.Trashes
*.backup
*.bak
*.cache
*.clover
*.env
*.log
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.temp
*.tmp
*~
/.idea/
/.php-cs-fixer.cache
/.phpstorm.meta.php
/.phpunit.cache/
/.phpunit.result.cache
/.psalm-cache/
/.vscode/
/build/
/composer.phar
/coverage-clover.xml
/coverage.xml
/coverage/
/dist/
/docs/_build/
/docs/.doctrees/
/external/
/logs/
/openapitools.json.local
/phpunit.xml
/temp/
/tmp/
/vendor/
desktop.ini
ehthumbs.db
Thumbs.db
